<footer class="bg-gray-100 py-10">
    <div class="max-w-screen-lg mx-auto px-6 text-gray-800 grid grid-cols-1 md:grid-cols-4 gap-8">
        <div class="border-r pr-6">
            <h3 class="text-lg font-bold text-indigo-600">Sobre Nosotros</h3>
            <p class="text-gray-500 text-sm mt-4">Somos una empresa dedicada a ofrecer los mejores servicios y productos a nuestros clientes. Nuestra misión es innovar y mejorar vidas a través de la tecnología.</p>
        </div>
        <div class="border-r px-6">
            <h3 class="text-lg font-bold text-indigo-600">Menú</h3>
            <ul class="mt-4 space-y-2">
                <li><a class="hover:text-indigo-600" href="/">Inicio</a></li>
                <li><a class="hover:text-indigo-600" href="/Servicios">Servicios</a></li>
                <li><a class="hover:text-indigo-600" href="/Nosotros">Nosotros</a></li>
                <li><a class="hover:text-indigo-600" href="/Contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="border-r px-6">
            <h3 class="text-lg font-bold text-indigo-600">Contáctanos</h3>
            <ul class="mt-4 space-y-2">
                <li><a class="hover:text-indigo-600" href="/Contacto">contact@tecno fip.com</a></li>
                <li><a class="hover:text-indigo-600" href="/Contacto">+1 (123) 456-7890</a></li>
            </ul>
        </div>
        <div class="pl-6">
            <h3 class="text-lg font-bold text-indigo-600">Síguenos</h3>
            <p class="text-gray-500 text-sm mt-4">Mantente conectado a través de nuestros canales de redes sociales:</p>
            <div class="flex space-x-4 mt-4">
                <a href="https://x.com/Tecno_FIP?t=NcyYmFrG9HuZGFWbFKOdKA&s=09" class="text-blue-400 text-xl hover:scale-110 transition-transform">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/tecno_fip_oficial" class="text-pink-500 text-xl hover:scale-110 transition-transform">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.youtube.com/@TecnoFIP" class="text-red-600 text-xl hover:scale-110 transition-transform">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center border-t mt-8 pt-5 text-gray-800 text-sm">
        <div class="mt-5">© Copyright 2025. Todos los derechos reservados.</div>
    </div>
</footer>